<div class="container">
  <div class="row">
  <div class="col-lg-3 col-md-3 col-xs-1"></div>
  <div class="col-lg-6 col-md-6 col-xs-10" style="padding-top: 100px;">
    <div class="row" style="justify-content: center;">
      <h1>Leaderboard</h1>
    </div>
    <div class="row">
      <app-add (afterAdd)="onAdd($event)"></app-add>
      <div style="border-radius: 10px; border: 1px solid black; position: absolute; right: 0; padding: 2px 2px; background-color: lightgreen;" >
        <input type="checkbox"  id="customCheck" name="example1" (change)="onCheck($event)">
        <label style="padding: 0px 4px;" for="customCheck">Show All Players</label>
      </div>
    </div>
    <div class="row">
      <app-players style="width: 100%;" [showAll]="showAll" [isAdded]="isAdded"></app-players>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-xs-3"></div>
</div>
</div>